@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --primary: #006971;
  --on-primary: #FFFFFF;
  --secondary: #4A6366;
  --on-secondary: #FFFFFF;
  --on-surface: #161D1D;
  --on-surface-variant: #3F484A;
  --outline: #6F797A;
  --outline-variant: #BEC8C9;
  --primary-container: #9DF0FA;
  --on-primary-container: #004F55;
  --secondary-container: #CDE7EB;
  --on-secondary-container: #324B4E;
  --background: #F5FAFB;
  --surface: #F5FAFB;
  --surface-variant: #DAE4E5;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #EFF5F5;
  --surface-container: #E9EFF0;
  --surface-container-high: #E3E9EA;
  --surface-container-hightest: #DEE4E4;
}

:root[data-theme="dark"] {
  --primary: #81D3DD;
  --on-primary: #00363B;
  --secondary: #B1CBCF;
  --on-secondary: #1C3437;
  --on-surface: #DEE4E4;
  --on-surface-variant: #BEC8C9;
  --outline: #899294;
  --outline-variant: #3F484A;
  --primary-container: #004F55;
  --on-primary-container: #9DF0FA;
  --secondary-container: #324B4E;
  --on-secondary-container: #CDE7EB;
  --background: #0E1415;
  --surface: #0E1415;
  --surface-variant: #3F484A;
  --surface-container-lowest: #090F10;
  --surface-container-low: #161D1D;
  --surface-container: #1A2121;
  --surface-container-high: #252B2C;
  --surface-container-hightest: #303637;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #81D3DD;
    --on-primary: #00363B;
    --secondary: #B1CBCF;
    --on-secondary: #1C3437;
    --on-surface: #DEE4E4;
    --on-surface-variant: #BEC8C9;
    --outline: #899294;
    --outline-variant: #3F484A;
    --primary-container: #004F55;
    --on-primary-container: #9DF0FA;
    --secondary-container: #324B4E;
    --on-secondary-container: #CDE7EB;
    --background: #0E1415;
    --surface: #0E1415;
    --surface-variant: #3F484A;
    --surface-container-lowest: #090F10;
    --surface-container-low: #161D1D;
    --surface-container: #1A2121;
    --surface-container-high: #252B2C;
    --surface-container-hightest: #303637;
  }
}

* {
  box-sizing: border-box;
}


/* DISPLAY */
.display-large {
  font-family: "Noto Sans";
  font-size: 3.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 112.281% */
  letter-spacing: -0.25px;
}

.display-medium {
  font-family: "Noto Sans";
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem; /* 115.556% */
}
 
.display-small {
  font-family: "Noto Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem; /* 122.222% */
}


/* HEADLINE */
.headline-large {
  font-family: "Noto Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 125% */
}

.headline-medium {
  font-family: "Noto Sans";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 128.571% */
}
 
.headline-small {
  font-family: "Noto Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
}

/* BODY */
.body-large {
  font-family: Lexend;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.5px;
}

.body-medium {
  font-family: Lexend;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.25px;
}
 
.body-small {
  font-family: Lexend;
  font-size: 0.75.rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.4px;
}

.label-large {
  font-family: Lexend;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.1px;
}

.label-medium {
  font-family: Lexend;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.5px;
}
 
.label-small {
  font-family: Lexend;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 145.455% */
  letter-spacing: 0.5px;
}

.title-large {
  font-family: Lexend;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 127.273% */
}

.title-medium {
  font-family: Lexend;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.15px;
}
 
.title-small {
  font-family: Lexend;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.1px;
}







html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--on-surface);
  font-family: var(--font-sans);
  background-color: var(--background);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: var(--lagoon-deep);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:hover {
  color: #246f76;
}



.page-wrap {
  width: min(1080px, calc(100% - 2rem));
  margin-inline: auto;
}



@keyframes rise-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.test {
  font-size: 1rem;
}

